* {
  box-sizing: content-box;
}

html, body {
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
  height: 50%;
  width: 100%;
}

iframe + iframe {
  border-top: 1px solid #ccc;
  margin-top: -1px;
}

#pc {
  padding: 1em;
}

audio {
  display: none;
}

#remote-div {
  position: absolute;
  left: 1em;
  right: 1em;
  top: 3em;
  bottom: 1em;
  z-index: -99999;
  text-align: center;
}

video {
  display: block;
  height: 100%;
  max-width: 100%;
}

.hidden {
  display: none;
}

#landing {
  padding: 1em;
}
